body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: linear-gradient(153deg, #2B3143 10.18%, #1E2330 65.36%, #0F1420 85.27%);
}

.boxBelow{
    background-color: rgb(81, 92, 99);
    margin-left: 1rem;
    /*margin-right: 40rem;*/
    margin-top: 1rem;
    padding: .25rem;
    border-radius: .4rem;
    width: 250px;
    
}

h1 {
    text-align: left;
    margin-left: 20px;
    margin-top: .1rem;
    color: rgb(240, 251, 255);
    font-size: 3rem;
    margin-bottom: 0rem;
}

h2 {
    text-align: left;
    font-size: 1rem;
    color: rgb(180, 191, 206);
    margin-top: 0em;
    margin-left: 2.2em;
    margin-bottom: .3em;
}

.box-container{
    border: 5px solid rgb(240, 251, 255);
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.field, .input, .output {
    border: 1px solid #000;
}

.field {
    position: relative;
    width: 40%;
    height: 0;
    padding-bottom: 40%;
    margin-left: 0%;
    
    border: solid;
    border-right: none;
    background: rgb(255, 255, 255);
    border-color: rgb(52, 99, 99);
    border-width: 0.5rem;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.output  {
    position: relative;
    margin-left: 0em;
    width: 15%;
    height: 0;
    padding-bottom: 40%;
    border: solid;
    border-left: none;
    background: rgb(81, 92, 99);
    border-color: rgb(52, 99, 99);
    border-width: 0.5rem;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.input{
    position: relative;
    margin-left: 2em;
    margin-right: 0%;
    width: 15%;
    height: 0;
    padding-bottom: 40%;

    border: solid;
    background: rgba(106, 164, 190, 0.562);
    border-color: rgb(52, 99, 99);
    border-width: 0.5rem;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


