body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(153deg, #2d3757, #1E2330, #0c1220);
    background-attachment: fixed;
    background-size: cover;


}

.boxBelow{
    background-color: rgb(81, 92, 99);
    margin-left: 1rem;
    /*margin-right: 40rem;*/
    margin-top: 1rem;
    padding: .25rem;
    border-radius: .4rem;
    width: 15.75%;
    
}

h1 {
    text-align: center;
    margin-top: 1%;
    color: rgb(240, 251, 255);
    font-size: 270%;
    font-size: 3.15vw;
    margin-bottom: 0%;
}

h2 {
    text-align: center;
    font-size: 1rem;
    font-size: 1.08vw;
    color: rgb(180, 191, 206);
    margin-top: 0em;
    margin-bottom: .3em;
}

.box-container{
    /*border: 5px solid rgb(240, 251, 255);*/
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.field, .input, .output {
    border: 1px solid #000;
}

.field {
    position: relative;
    width: 40%;
    height: 0;
    padding-bottom: 40%;
    margin-left: 0%;
    
    border: solid;
    border-right: none;
    background: rgb(81, 92, 99);
    border-color: rgb(52, 99, 99);
    border-width: 0.25rem;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
}

.grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.grid-line {
    background-color: black;
}
  
.vertical {
    position: absolute;
    width: 2px;
    height: 100%;
}
  
.horizontal {
    position: absolute;
    width: 100%;
    height: 2px;
}
  
.grid-line:nth-child(1) {
    left: 16.6666%;
}
.grid-line:nth-child(2) {
    left: 33.33333%;
}
.grid-line:nth-child(3) {
    left: 50%;
}
.grid-line:nth-child(4) {
    left: 66.6666%;
}
.grid-line:nth-child(5) {
    left: 83.3333%;
}
.grid-line:nth-child(6) {
    top: 16.6666%;
}
.grid-line:nth-child(7) {
    top: 33.3333%;
}
.grid-line:nth-child(8) {
    top: 50%;
}
.grid-line:nth-child(9) {
    top: 66.6666%;
}
.grid-line:nth-child(10) {
    top: 83.3333%;
}

.robot{
    background-color: rgba(88, 245, 74, 0.562);
    border-color: darkgreen;
    border-width: 1px;
    border-style: solid;
    width: 16%;
    height: 16%;
    padding: 0px;
    position: absolute;
    align-items: center;
    justify-content:center;
    margin: 34%;
    margin-left: 42%;
    margin-top: 42%;
    margin-right: 100%;
    margin-bottom: 100%;

}

.output  {
    position: relative;
    margin-left: 0em;
    width: 15%;
    height: 0;
    padding-bottom: 40%;
    border: solid;
    border-left: none;
    background: rgb(223, 231, 236);
    border-color: rgb(52, 99, 99);
    border-width: 0.25rem;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.outputText{
    margin-left: 1.25%;
    font-size: 1.5vw;
}

.input{
    position: relative;
    margin-left: 2em;
    margin-right: 0%;
    width: 15%;
    height: 0;
    padding-bottom: 40%;

    border: solid;
    background: rgba(106, 164, 190, 0.562);
    border-color: rgb(52, 99, 99);
    border-width: 0.25rem;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

h4{
    color: black;
    margin: 5px;
    margin-left: 2px;
}

.input-label-width, .input-label-length {
    /*font-weight: bold;*/
    margin-left: 2px;
}

.input-label-width{
    margin-top: 5px;
}

.robot-width-input, .robot-length-input {
    width: 70%;
    margin-bottom: 10px;
    margin-left: 2px;
}

.input-label{
    background: rgba(56, 114, 140, 0.562);
}

.input-container {
    /* Initial state of the container */
    position: absolute;
    width: 100%;
    height: 5px;
    background: rgb(56, 114, 140);
}

.dimensions-container {
    /* Hidden by default */
    display: none;
}

.save{
    color:black;
    background: radial-gradient(white,rgb(185, 177, 177));
    margin-bottom: 0px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px;
    width: 45%;
    height: auto;
    font-size: 1.2vw;
}


#menu-button,
#edit-mode,
#exit-edit-mode {
    position: absolute;
    top: -4px;
    right: 5px;
    font-size: 18px;
    cursor: pointer;
    list-style: none; /* Remove bullet points */
    color: azure;
}

#menu-button:hover,
#edit-mode:hover,
#exit-edit-mode:hover {
    color: rgba(99, 192, 235, 0.562); /* Change color on hover */
}

#menu-button {
    margin-top: 0px;
}

#edit-mode {
    /* Adjust the margin to position the pencil icon as needed */
    margin-top: -20px; /* Adjust this value to separate it from the dot */
}

#exit-edit-mode {
    /* Adjust the margin to position the check mark icon as needed */
    margin-right: 3px;
    margin-top: 0px; /* Adjust this value to separate it from the pencil icon */
}

#menu-container {
    position: absolute;
    top: 30px; /* Adjust as needed */
    right: 10px;
    display: none;
}

